<header class="header">
    <ul class="links">
        <li>
            <img class="logo" width="50" height="50" src="https://lh5.googleusercontent.com/proxy/4vkm3gQ_9-em2lxIWK7XhlBwx5Q7dGhK0P6jcZ2IGFQLaFeEn_9ZcWpgKr9tbrcY29KoYnFPQaNl64NQAWpPihn-f2566Vu59DqaftYhcNP-7H7QgLA" />
        </li>
        <li routerLink="/introduction">introduction</li>
        <li routerLink="/importance">importance</li>
        <li routerLink="/objectifs">objectifs</li>
        <li routerLink="/outils">outils</li>
        <li routerLink="/conseils">conseils</li>
        <li routerLink="/conclusion">conclusion</li>
    </ul>
</header>
