<header class="header">
    <ul class="links">
        <li>
            <img class="logo" width="50" height="50" src="https://media.licdn.com/dms/image/D5603AQGcMGBbcoca2g/profile-displayphoto-shrink_400_400/0/1708882281429?e=2147483647&v=beta&t=WN9xY1tJqAdHmDoisNd6UmMGh-MaeO1bXeVYfHHxexw" />
        </li>
        <li routerLink="/introduction">introduction</li>
        <li routerLink="/importance">importance</li>
        <li routerLink="/objectifs">objectifs</li>
        <li routerLink="/outils">outils</li>
        <li routerLink="/conseils">conseils</li>
        <li routerLink="/conclusion">conclusion</li>
    </ul>
</header>
